.footer {
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 30px;
}
.footer-bg {
  background-color: #061939;
}
.ul-style li a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.ul-style a:hover {
  color: chocolate;
}
