.bg-color {
  background-color: #e8f3fc;
}
.navbar-bg {
  background-color: #061939;
  /* background-color: #e8f3fc; */
}
.btn-style {
  background-color: #149bfe;
}
.btn-style:hover {
  background-color: #061939;
  color: white;
}
